<ion-header>
    <ion-navbar>
        <ion-title>Train Stations</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="reloadTrains($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
        <div *ngIf="emptyResponse" class="feedbox">
            <h3>No Arrivals <ion-icon name="code"></ion-icon></h3>
            <p>
                It could be outside of operating hours (weekday: 4:45a - 1a; weekend: 6a - 1a), or it could be
                <a target="_blank" href="https://groups.google.com/forum/#!forum/atl-transit-developers">broken</a>.
                If this persists, you could try
                <a target="_blank" href="https://github.com/jakswa/martaionic/issues">bugging Jake here</a>.
            </p>
        </div>
        <div *ngIf="trainsError" class="feedbox">
            <h4 *ngIf="error.status != 500">{{error.statusText}}</h4>
            <h4 *ngIf="error.status == 500">Oops. Jake broke something.</h4>
            <blockquote>
                {{error.message}}
            </blockquote>
            <p>
                Trying again shortly.
                <span *ngIf="error.status != 500">
                    Sometimes the MARTA realtime API
                    <a target="_system" href="https://groups.google.com/forum/#!forum/atl-transit-developers">breaks</a>.
                </span>
                <span>
                    If this persists and you're sad, you could try
                    <a target="_system" href="https://github.com/jakswa/martaionic/issues">bugging Jake here</a>.
                </span>
            </p>
        </div>
        <div *ngIf="loading" class="feedbox center"><ion-spinner></ion-spinner></div>
    </div>
    <ion-list class="bottom-padding">
        <ion-item class="item-divider connectivity" *ngIf="connectionProblem">
            <p><ion-icon name="information-circle"></ion-icon> Problems connecting. Trying again shortly.</p>
        </ion-item>
        <ion-item-divider color="light" *ngIf="favs">
            Starred
        </ion-item-divider>
        <ion-item-sliding class="arrival" *ngFor="let stationName of objectKeys(favs)" #slidingItem>
            <ion-item (click)="stationView(stationName)">
                <span class="station-name">{{stationName}}</span>
                <div class="times" item-end>
                    <time-display *ngFor="let arrival of this.trainService.byDirection(favs[stationName])" [arrival]="arrival"></time-display>
                </div>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="toggleFavorite(stationName, slidingItem)" [color]="this.favorites.isFavorite(stationName) ? 'danger' : 'default' ">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider color="light" class="item-divider" *ngIf="nearbyStations">
            Nearby Stations
        </ion-item-divider>

        <ion-item-sliding class="arrival" *ngFor="let stationName of objectKeys(nearbyStations)" #slidingItem>
            <ion-item (click)="stationView(stationName)">
                <span class="station-name">{{stationName}}</span>
                <div class="times" item-end>
                    <time-display *ngFor="let arrival of this.trainService.byDirection(nearbyStations[stationName])" [arrival]="arrival"></time-display>
                </div>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="toggleFavorite(stationName, slidingItem)" [color]="this.favorites.isFavorite(stationName) ? 'danger' : 'default' ">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider color="light" *ngIf="nearbyStations || favs">
            All Stations
        </ion-item-divider>
        <ion-item-sliding class="arrival" *ngFor="let stationName of objectKeys(arrivals)" #slidingItem>
            <ion-item (click)="stationView(stationName)">
                <span class="station-name">{{stationName}}</span>
                <div class="times" item-end>
                    <time-display *ngFor="let arrival of this.trainService.byDirection(arrivals[stationName])" [arrival]="arrival"></time-display>
                </div>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="toggleFavorite(stationName, slidingItem)" [color]="this.favorites.isFavorite(stationName) ? 'danger' : 'default' ">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--
    <ion-list>
        <ion-item *ngFor="let traintweetsains">
            {{train}}
            {{train.station}}
        </ion-item>
    </ion-list>-->

</ion-content>

<tabs></tabs>
