<ion-header>
    <ion-navbar>
        <ion-title>Train Stations</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="reloadTrains($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div>
    <div *ngIf="loading" class="feedbox center"><ion-spinner></ion-spinner></div>
  </div>
    <data-error></data-error>
    <ion-list class="bottom-padding">
        <ion-item-divider color="light" *ngIf="favs">
            Starred
        </ion-item-divider>
        <ion-item-sliding class="arrival" *ngFor="let stationName of objectKeys(favs)" #slidingItem>
            <ion-item (click)="stationView(stationName)">
                <span class="station-name">{{stationName}}</span>
                <div class="times" item-end>
                    <time-display *ngFor="let arrival of this.trainService.byDirection(favs[stationName])" [arrival]="arrival"></time-display>
                </div>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="toggleFavorite(stationName, slidingItem)" [color]="this.favorites.isFavorite(stationName) ? 'danger' : 'default' ">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider color="light" class="item-divider" *ngIf="nearbyStations">
            Nearby Stations
        </ion-item-divider>

        <ion-item-sliding class="arrival" *ngFor="let stationName of objectKeys(nearbyStations)" #slidingItem>
            <ion-item (click)="stationView(stationName)">
                <span class="station-name">{{stationName}}</span>
                <div class="times" item-end>
                    <time-display *ngFor="let arrival of this.trainService.byDirection(nearbyStations[stationName])" [arrival]="arrival"></time-display>
                </div>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="toggleFavorite(stationName, slidingItem)" [color]="this.favorites.isFavorite(stationName) ? 'danger' : 'default' ">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider color="light" *ngIf="nearbyStations || favs">
            All Stations
        </ion-item-divider>
        <ion-item-sliding class="arrival" *ngFor="let stationName of objectKeys(arrivals)" #slidingItem>
            <ion-item (click)="stationView(stationName)">
                <span class="station-name">{{stationName}}</span>
                <div class="times" item-end>
                    <time-display *ngFor="let arrival of this.trainService.byDirection(arrivals[stationName])" [arrival]="arrival"></time-display>
                </div>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="toggleFavorite(stationName, slidingItem)" [color]="this.favorites.isFavorite(stationName) ? 'danger' : 'default' ">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--
    <ion-list>
        <ion-item *ngFor="let traintweetsains">
            {{train}}
            {{train.station}}
        </ion-item>
    </ion-list>-->

</ion-content>

<tabs></tabs>
