<ion-header>
    <ion-navbar>
        <ion-title>
            Tweets
        </ion-title>
    </ion-navbar>
</ion-header><ion-content padding>
    <ion-refresher (ionRefresh)="reloadTweets($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
        <div *ngIf="emptyResponse" class="feedbox">
            <h3>No Tweets <ion-icon name="code"></ion-icon></h3>
            <p>
                If this persists, you could try
                <a target="_blank" href="https://github.com/jakswa/martaionic/issues">bugging Jake here</a>.
            </p>
        </div>
        <div *ngIf="error" class="feedbox">
            <h4 *ngIf="error.status != 500" [textContent]="error.statusText"></h4>
            <h4 *ngIf="error.status == 500">Oops. Jake broke something.</h4>
            <blockquote [textContent]="error.message"></blockquote>
            <p>
                Trying again shortly.
                <span>
                    If this persists and you're sad, you could try
                    <a target="_system" href="https://github.com/jakswa/martaionic/issues">bugging Jake here</a>.
                </span>
            </p>
        </div>
        <ion-spinner *ngIf="loading" icon="lines"></ion-spinner>
    </div>
        <div class="item-divider connectivity feedbox" *ngIf="connectionProblem">
            <h3><ion-icon name="information-circle"></ion-icon> Problems connecting. Trying again shortly.</h3>
        </div>
    <!-- https://devdactic.com/ionic-twitter-integration/-->
    <div class="bottom-padding">
    <ion-card *ngFor="let tweet of tweets">

        <ion-item>
            <ion-avatar item-left (click)="openTwitter(tweet.user.screen_name)">
                <img [src]="tweet.user.profile_image_url">
            </ion-avatar>
            <p class="user-header">
            <span [textContent]="tweet.user.name" class="clickable" (click)="openTwitter(tweet.user.screen_name)"></span>
            <span [textContent]="'@' + tweet.user.screen_name" class="text-grey clickable" (click)="openTwitter(tweet.user.screen_name)"></span>
            <abbr [textContent]="dateForTweet(tweet.created_at)" [title]="fullDateForTweet(tweet.created_at)" class="text-grey"
            (click)="toastDate(tweet.created_at)"></abbr>
            </p>
            <p [innerHtml]="tweet.text"></p>
        </ion-item>

        <img [src]="tweet.extended_entities.media[0].media_url+':small'" *ngIf="tweet.extended_entities" class="twitter-image">

    </ion-card>
    </div>
</ion-content><tabs></tabs>