twitter-page {
    .item ion-avatar, .clickable {
        cursor: pointer;
    }
    .item p {
        &.retweet {
            color: #888;
            font-size: 0.8em;
        }
        color: #000000;
        .username {
            font-weight: bold;
        }
        &.user-header {
            padding-bottom: 2px;
        }
    }
    img.twitter-image {
        max-width: calc(100% - 25px);
        margin: 5px 5px 5px 16px;
        width: auto;
    }
}